@import "tailwindcss";

@layer base {
  html,
  body {
    font-size: 18px !important;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  a {
    color: var(--color-blue-600);
  }

  a:hover {
    text-decoration: underline;
  }

  @media (prefers-color-scheme: dark) {
    a {
      color: var(--color-blue-400);
    }
  }
}
