@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-size: 18px;
  }

  a {
    @apply text-blue-600;
  }

  a:hover {
    @apply underline;
  }

  .markdown-body {
    font-size: 18px;
  }

  .markdown-body img {
    @apply bg-gray-200;
  }

  @media (prefers-color-scheme: dark) {
    a {
      @apply text-blue-400;
    }

    .markdown-body img {
      @apply bg-gray-700;
    }
  }
}
